{
  margin: 10px;
}

/* Grab id with # */
#home {
  margin-left: -1cm;
  margin-right: -1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  background-color: #6A2765;
}

header {
  font-size: 30px;
  color: palevioletred;
  float: left;
  padding-left: 2cm;
}

nav {
  float: right;
  padding-right: 1cm;
}

/* Grab class with . */
.navButton {
  color: lightgray;
  background-color: darkmagenta;
  margin: 10px;
  padding: 10px;
  border-radius: 1mm;
  font-size: 20px;
  text-decoration: none;
}

/* On hover */
.navButton:hover {
  color: white;
  font-weight: bolder;
  background-color: purple;
  text-decoration: underline;
}

body {
  background-color: wheat;
}

#all-conversion-sections {
  justify-content: center;
  display: grid;
}

figure {
  float: left;
  justify-self: auto;
  width: 200px;
}

img {
  width: 200px;
}

figcaption {
  color: black;
  font-size: 17px;
  text-align: center;
}

.convButton {
  font-size: 20px;
  border: transparent;
  border-radius: 40px;
  width: fit-content;
  background-color: lightgreen;
  padding-left: 15px;
  padding-right: 15px;
}

.convButton:hover {
  cursor: pointer;
}

.b {
  border-top-style: solid;
  border-top-width: 20px;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  background-color: white;
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
}

.temperature {
  border-top-color: green;
}

.weight {
  border-top-color: coral;
}

.distance {
  border-top-color: cyan;
}

legend {
  font-size: 30px;
  font-weight: bolder;
}

.go-home {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: cyan;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 40px;
}

#homeImg {
  width: 30px;
}

footer {
  background-color: lightpink;
  margin-top: 20px;
}